  .result-card {
    width: VW(400);
    height: VW(600);
    position: relative;

    @include forMobile {
      width: VW(300, $mobile);
      height: VW(450, $mobile);
    }

    &--sell {
      --card-color: #ff2400;
      .result-card__title {
        color: $r-70;
      }
    }

    &--buy {
      --card-color: #00cf3c;
      .result-card__title {
        color: $green-100;
      }
    }

    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
      z-index: -1;

      .blur-bg {
        width: VW(270);
        height: VW(270);
        background-color: var(--card-color);
        position: absolute;
        z-index: -2;
        border-radius: 100vw;
        filter: blur(10vw);
        transition: opacity .3s ease;

        @include forMobile {
          width: VW(180, $mobile);
          height: VW(180, $mobile);
          filter: blur(15vw);
          left: 25%;
          top: -5%;
        }
      }
    }

    .card-wrapper {
      padding: VW(14) VW(24);
      
      @include forMobile {
        padding: VW(14, $mobile);
      }  
    }
    
    &__title {
      padding: VW(14) VW(24) VW(24);
      @include forMobile {
        padding: VW(14, $mobile) VW(14, $mobile) 0;
      }  
    }

    &__top {
      display: flex;
      justify-content: space-between;
      position: relative;

      padding-bottom: VW(14);
      border-bottom: VW(2) solid $g-90;

      .left {
        width: VW(140);
        
        @include forMobile {
          width: VW(110, $mobile);
        }    

        .top-title {
          color: $g-70;
        }

        .main-title {
          text-shadow: 0px 0px VW(10) rgba(255, 255, 255, 0.8);
        }
      }

      .right {
        &__image {
          width: VW(90);
          height: VW(90);
          mix-blend-mode: lighten;
          position: absolute;
          right: 0;
          bottom: 10%;

          @include forMobile {
            width: VW(70, $mobile);
            height: VW(70, $mobile);
            bottom: -10%;
          }      
        }

        &__text {
          text-shadow: 0px 0px VW(7) rgba(255, 255, 255, 0.8);
        }
      }
    }

    .white {
      color: $c-white;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: VW(14);
      margin-top: VW(14);
      
      @include forMobile {
        gap: VW(10, $mobile);
        margin-top: VW(10, $mobile);
      }

      &__title {
        margin-bottom: VW(7);
        
        @include forMobile {
          margin-bottom: VW(5, $mobile);
        }      
      }

      .line-highlight {
        color: $c-white;
        text-decoration: underline;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: VW(4);

        .item {
          position: relative;
          // padding-left: VW(14);
          display: flex;
          align-items: start;
          gap: VW(8);
          
          @include forMobile {
            gap: VW(5, $mobile);
          }      

          &::before {
            content: "";
            display: block;
            width: VW(7);
            height: VW(7);

            min-width: VW(7);
            min-height: VW(7);

            background: var(--card-color);
            filter: blur(0.1vw);
            border-radius: 10vw;
            margin-top: VW(3);
            
            @include forMobile {
              margin-top: VW(3, $mobile);
              width: VW(4, $mobile);
              height: VW(4, $mobile);
              
              filter: blur(.3vw);
              min-width: VW(4, $mobile);
              min-height: VW(4, $mobile);
            }        
          }
        }
      }

      .double-section {
        display: flex;
        gap: VW(14);

        .left {
          width: 50%;
        }

        .right {
          width: 50%;
        }
      }
    }
  }
