.hero-anim {
  position: sticky;
  // top: 0;
  top: 30%;
  left: 30%;
  width: VW(550);
  height: VW(580);
  float: left;
  transform-origin: top center;
  margin-bottom: 8vw;
  
  @include forMobile {
    margin-bottom: 0;
    position: absolute;
    top: 1%;
    transform: translate(-41%, -10%) !important;

    width: VW(1019, $mobile);
    height: 100lvh;
    aspect-ratio: 9/16;

    img {
      object-position: top;
    }
  }

  &__wrapper {
    position: relative;

    @include forMobile {
      width: 100vw;
      overflow: hidden;
    }
  }
}
